.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image:linear-gradient(pink,blue);
}

.list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.list-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.list-item h3 {
  margin: 0;
  color:white;
}
.user-table td{
  cursor: pointer;
}

.logout {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}
.logout-btn{
  background-color: purple; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer
}

.logout-btn:hover {
  background-color: #d32f2f;
}
